<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <!-- Suppress Warnings Filter -->
    <module name="SuppressWarningsFilter"/>

    <!-- Charset Configuration -->
    <property name="charset" value="UTF-8"/>

    <!-- Set Severity Level -->
    <property name="severity" value="warning"/>

    <!-- Specify File Extensions -->
    <property name="fileExtensions" value="java"/>

    <!-- TreeWalker Module Configuration -->
    <module name="TreeWalker">

        <!-- Empty Block Check -->
        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
            <property name="tokens" value="LITERAL_DO, LITERAL_WHILE, LITERAL_FOR"/>
        </module>

        <!-- Whitespace Around Check -->
        <module name="WhitespaceAround">
            <property name="allowEmptyMethods" value="true"/>
            <property name="allowEmptyTypes" value="true"/>
            <property name="allowEmptyLoops" value="true"/>
            <property name="tokens" value="LITERAL_DO, LITERAL_WHILE, LITERAL_FOR"/>
        </module>

        <!-- Right Curly Brace Check -->
        <module name="RightCurly">
            <property name="id" value="RightCurlyAlone"/>
            <property name="option" value="alone"/>
            <property name="tokens"
                      value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT,
                    INSTANCE_INIT, ANNOTATION_DEF, ENUM_DEF, INTERFACE_DEF"/>
        </module>

        <!-- Left Curly Brace Check -->
        <module name="LeftCurly">
            <property name="tokens"
                      value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT,
                    INSTANCE_INIT, ANNOTATION_DEF, ENUM_DEF, INTERFACE_DEF"/>
            <property name="option" value="nl"/>
        </module>

        <!-- Method Length Check -->
        <module name="MethodLength">
            <property name="max" value="30"/>
            <property name="tokens" value="METHOD_DEF"/>
        </module>

        <!-- Line Length Check -->
        <module name="LineLength">
            <property name="max" value="100"/>
        </module>

        <!-- Parameter Name Check -->
        <module name="ParameterName">
            <property name="format" value="^[a-z][a-z0-9]*$"/>
        </module>

        <!-- Method Name Check -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
        </module>

        <!-- Class Type Parameter Name Check -->
        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
        </module>

        <!-- No Finalizer Check -->
        <module name="NoFinalizer"/>

    </module>
</module>
